@media (min-width: 350px) and (max-width:576px) {
  .gradient-line {
    margin-top: 13px;
  }

  .circle__bcg {
    min-width: 30px;
    width: 30px;
    height: 30px;
  }

  .form-section__title {
    padding-top: 40px;
    padding-right: 0;
    text-align: center;
  }

  .sign-in-block {
    margin-right: 15px;
    margin-left: 15px;
  }

  .sign-up-block {
    margin-top: 100px;
    margin-right: 15px;
    margin-left: 15px;
  }

  .form__wrapper {
    flex-direction: column;
  }

  .form__flex__wrapper {
    margin-top: 40px;
    margin-right: 15px;
    margin-left: 15px;
    width: 100%;
    height: 100%;
  }

  .form__header h3 {
    padding-right: 15px;
    font-size: 17px;
  }

  .checkbox__wrapper__tooltip {
    top: 100px;
    left: 0;
  }
}

@media (min-width: 576px) and (max-width:768px) {
  .form-section__title {
    padding-top: 40px;
    padding-right: 0;
    text-align: center;
  }

  .form__flex__wrapper {
    margin-right: 40px;
    margin-left: 40px;
    width: 100%;
    height: 100%;
  }

  .form__header h3 {
    font-size: 30px;
  }

  .checkbox__wrapper__tooltip {
    top: 100px;
    left: 0;
  }
}


@media (min-width: 768px) and (max-width:992px) {
  .form-section__title {
    padding-top: 100px;
    padding-right: 0;
    text-align: center;
  }

  .form__flex__wrapper {
    margin-right: 40px;
    margin-left: 40px;
    width: 100%;
    height: 100%;
  }

  .form__header h3 {
    font-size: 30px;
  }

  .checkbox__wrapper__tooltip {
    top: 100px;
    left: 0;
  }
}


@media (min-width: 992px) and (max-width:1200px) {
}
